body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: url(https://i.imgur.com/zISNPNG.png);
}

a {
  color: #00B7FF;
}

.title {
  color: white;
  text-align: center;
}

.heading {
  text-align: center;
}

.page-footer {
  padding: 20px;
}

nav .brand-logo {
  margin-left: 10px;
  font-size: 2.5rem;
  font-weight: bold;

}

nav ul a {
  font-size: 1.5rem;
}

nav {
  font-family: 'Roboto', sans-serif;
}

.complete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #00B7FF;
}

.all-complete {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #00B7FF;
}

.today-complete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #F44336 ;
}

.all-today-complete {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #F44336 ;
}

.all-incomplete {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

.incomplete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
}

#delete-btn {
  margin: 10px;
  display: inline-block;
}

.card-content span {
  font-size: 1.5rem;
}

select {
  display: inline;
}