<%- include('../partials/header') %>

<div class="row">
  <div class="col m12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <form action="/habits" method="POST">
          <div>
            <label>Habit Name:
              <input type="text" name="name" >
            </label>
          </div>
          <div>
            <label>Category:
              <input type="text" name="category">
            </label>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Add Habit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>  
  </div>
</div>


<%- include('../partials/footer') %>